#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Chat
Exec=/usr/lib/opt/google/chrome/google-chrome --profile-directory=Default --app-id=mdpkiolbdkhdjpekfbkbmhigcaggjagi
Icon=/usr/local/share/icons/google-chat.svg
StartupWMClass=crx_mdpkiolbdkhdjpekfbkbmhigcaggjagi
