[Desktop Entry]
Name=Files
Comment=Access and organize files
Keywords=folder;folders;manager;explore;explorer;disk;filesystem;nemo;nautilus;
Exec=nemo %U
#Exec=nemo --existing-window --tabs %U
Icon=system-file-manager
Terminal=false
Type=Application
DBusActivatable=true
StartupNotify=false
Categories=GNOME;GTK;Utility;Core;FileManager;
MimeType=inode/directory;application/x-gnome-saved-search;application/x-7z-compressed;application/x-7z-compressed-tar;application/x-bzip;application/x-bzip-compressed-tar;application/x-compress;application/x-compressed-tar;application/x-cpio;application/x-gzip;application/x-lha;application/x-lzip;application/x-lzip-compressed-tar;application/x-lzma;application/x-lzma-compressed-tar;application/x-tar;application/x-tarz;application/x-xar;application/x-xz;application/x-xz-compressed-tar;application/zip;application/gzip;application/bzip2;application/vnd.rar;
X-GNOME-UsesNotifications=false
Actions=open-home;open-computer;open-trash;

X-Desktop-File-Install-Version=0.26

[Desktop Action open-home]
Name=Home
Exec=nemo %U

[Desktop Action open-computer]
Name=Computer
Exec=nemo computer:///

[Desktop Action open-trash]
Name=Trash
Exec=nemo trash:///
