[Desktop Entry]
Name=Network Configuration
Comment=Manage and change your network connection settings
Icon=/usr/local/share/icons/nm-connection-editor.svg
Exec=nm-connection-editor
Terminal=false
StartupNotify=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=nm-connection-editor
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;X-GNOME-Utilities;
